{% extends 'base.html' %}

{% block title %}Exchange{% endblock %}

{% block content %}

{% csrf_token %}
<div class="search-content">
    <input type="text" id="search-data"> </input>
</div>
<div class="container">
    <div class="main-content">
        <div class="main-information" id="main-information">
            <span>환율 계산기</span>
            <div id="information-calc">
                <span>
                    <select aria-label="calc-select-top" id="calc-select-top">
                    </select>
                    <input type="text" aria-label="calc-text-top" id="calc-text-top"/>
                </span>
                <h1 id="calc-unit">=</h1>
                <span>
                    <select aria-label="calc-select-bottom" id="calc-select-bottom">
                        <option>한국 원 (KRW)</option>
                    </select>
                    <input type="text" aria-label="calc-text-bottom" id="calc-text-bottom"/>
                </span>
            </div>
        </div>
            <div class="today-chart" id="today-chart">
            </div>
    </div>
</div>

<script>
    const chartData = {{ chart_data|safe }};
    const csrf_token = '{{ csrf_token }}';
</script>
{% load static %}
<script src="{% static 'js/script.js' %}?v={{ timestamp }}"></script>
<script src="{% static 'js/main-script.js' %}?v={{ timestamp }}"></script>

{% endblock %}